#heading{
    margin: auto;
    font-size: 5vmin;
    padding-left: 25vw;
}
.clock-body{
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    height: 29.4vw;
    width: 29.4vw;
    background: url("images/clock.jpg");
    background-size: 99%;
    background-repeat: no-repeat;
}
#hour,#min,#sec{
    position: absolute;
    transform-origin: bottom;
    border-radius: 2%;
}
#hour{
    background: black;
    height: 30%;
    width: 1.4%;
    top: 20%;
    left: 49.5%;
    
}
#min{
    height: 34%;
    background: green;
    width: 1.2%;
    top: 16%;
    left: 49.5%;
    opacity: 0.8;
    
}
#sec{
    height: 37%;
    background: grey;
    width: .6%;
    top: 13%;
    left: 49.5%;
    opacity: 0.5;
    
}
